RewriteEngine on
RewriteBase /

RewriteRule ^shop/(.+)/?$ shop.php?category=$1
RewriteRule ^shop/.*$ -
RewriteRule ^product/(.+)/(.+)/?$ product.php?category=$1&productID=$2
# Web api:
RewriteRule ^api/products/(.*)/(.*)/?$ api/products.php?id=$1&order=1
RewriteRule ^api/products/(.+)/?$ api/products.php?id=$1
# http://blackmarket5.hostei.com/api/products.php?id=c000001&order=1

RewriteRule cs410.cs.ualberta.ca:41061/shop/ http://google.com

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
