body {
    background-image:url('images/snow.png');
    margin: 0;
    padding: 0;
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 12;
}

.main {
    /*position: relative;*/
	background-color: white;
	width: 1000px;
	margin-left: auto ;
    margin-right: auto ;
	
	overflow:auto;
	
	-moz-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	box-shadow:0px 0px 40px rgba(0,0,0,0.2);
}

a {text-decoration:none;}

.cart-item  a:link {color:#006EB8;}
.cart-item  a:visited {color:#006EB8;}
.cart-item  a:hover {color:#006EB8;}
.cart-item  a:active {color:#000000;}


.body {
    /*display:inline;*/
	
	color: #919191;
    
	margin-top: 40px;
	margin-bottom: 25px;
	margin-left: 40px;
	margin-right:40px;
	
}

#cart-header{
	overflow: hidden;
	height: 26px;
	width:100%;
	border-top: 1px solid #d4d4d4;
	background-color: #ECECEC;
	color: #4d4d4d;
	font-weight: 700;
	font-size: 12px;
	line-height: 26px;
}

.cart-item{
	height: 85px;
	width:100%;
	border-bottom: 1px solid #ECECEC;
	color: #006EB8;
	font-size: 12px;
	line-height: 85px;
}

.cart-no-items{
	height: 85px;
	width:100%;
	border-bottom: 1px solid #ECECEC;
	color: #6F6F6F;
	font-size: 12px;
	font-style:italic;
	line-height: 85px;
	text-align:center;
}

.cart-item-product{
	vertical-align:middle;
	display:inline-block;
	width:68%;
}

.cart-item-product img{
	vertical-align:middle;
	display:inline-block;
	margin-left:10px;
	
	max-width:70px;
	max-height:70px;
}

.cart-item-quantity{
	vertical-align:middle;
	display:inline-block;
	width:8%;
}

.cart-item-quantity input{
	width:3em;
	text-align:center;
}

.cart-item-price{
	vertical-align:middle;
	display:inline-block;
	width:14%;
	font-weight:bold;
}

.cart-item-remove{
	vertical-align:middle;
	display:inline-block;
	width:8%;
}

#cart-total {
	width:35%;
	height:40px;
	line-height:40px;
	float:right;
	color: #4d4d4d;;
	background-color: #ECECEC;
	font-size:22;
	text-align:center;
	
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-bottom-left-radius: 7px;
	-moz-border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#cart-total-price {

	font-weight:bold;
}

.product {
	display:inline-block;
	vertical-align: top;
		
	width: 165px;
	padding-left:7px;
	padding-right:7px;
}

