.mainmenu{
	background-image:url('images/menubg1.png');
	height:130px;
}

.mainmenu a:link {text-decoration:none;color:#919191;}
.mainmenu a:visited {text-decoration:none;color:#919191;}
.mainmenu a:hover {text-decoration:none;color:#006EB8;}
.mainmenu a:active {text-decoration:none;color:#919191;}

#menulogo{
	border-right:1px;
	border-color:#E4E4E4;
	margin-left:15px;
    width:300px;
    vertical-align:top;
    display:inline-block;
}


#menulogo img{
	display:none;
}

#menulogo img.activelogo{
	display:inline-block;
}

.menulinks{
	display:inline-block;
    margin-top:10px;
    vertical-align:top;
    font-family: 'Monda', sans-serif;
}

.menulink{
	display:inline-block;
	font-size: 20px;
	/*font-family: BebasNeue;*/
	padding-left:10px;
	padding-right:10px;
}

#userStuff{
	float:right;
	display:inline-block;
	margin-top:10px;
	margin-right:10px;
}

#shoppingCart{
	text-decoration: none;
	font-weight: bold;
}

.blueline {
	background-color: #006EB8;
	width: 1000px;
	height:15px;
	
    display:block;
    position:absolute;
	left: 50%;
	margin-left:-500px;
    top:115px;
	
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	
	/*-moz-box-shadow:0px 0px 40px rgba(0,0,0,0.6);
	-webkit-box-shadow:0px 0px 40px rgba(0,0,0,0.6);*/
	box-shadow: 0px -10px 10px -10px black;
}