.mainmenu{
	background-image:url('images/menubg1.png');
	height:130px;
}

.mainmenu a:link {text-decoration:none;color:#BDBDBD;}
.mainmenu a:visited {text-decoration:none;color:#BDBDBD;}
.mainmenu a:hover {text-decoration:none;color:#006EB8;}
.mainmenu a:active {text-decoration:none;color:#BDBDBD;}

#menulogo{
	border-right:1px;
	border-color:#E4E4E4;
	margin-left:15px;
    width:300px;
    vertical-align:top;
    display:inline-block;
}


#menulogo img{
	display:none;
}

#menulogo img.activelogo{
	display:inline-block;
}

.menulinks{
	display:inline-block;
    margin-top:10px;
    vertical-align:top;
    font-family: 'Monda', sans-serif;
}

.menulink{
	display:inline-block;
	font-size: 20px;
	/*font-family: BebasNeue;*/
	padding-left:10px;
	padding-right:10px;
}

#userStuff{
	position:absolute;
	top: 12px;
	right: 12px;
	line-height:2em;
}

#login-reg-form{
	display:inline-block;
	overflow:hidden;
	width:auto;
	max-height:1.8em;
	vertical-align:middle;
}

#shoppingCart{
	display:inline-block;
	text-decoration: none;
	font-weight: bold;
	padding-right:15px;
	vertical-align:middle;
}

#profile-link, #logout{
	display:inline-block;
	font-weight: bold;
	vertical-align:middle;
}

#btoggle{
	display:inline-block;
	vertical-align:middle;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
}

.nowrap{
	white-space: nowrap;
}

.blueline {
	background-color: #006EB8;
	width: 1000px;
	height:15px;
	
    display:block;
    position:absolute;
	left: 50%;
	margin-left:-500px;
    top:115px;
	
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	
	/*-moz-box-shadow:0px 0px 40px rgba(0,0,0,0.6);
	-webkit-box-shadow:0px 0px 40px rgba(0,0,0,0.6);*/
	box-shadow: 0px -10px 10px -10px black;
}

#auth-alert{
	display: inline-block;
	background-color:rgba(0,0,0,0.3);
	color:rgba(255,255,255,0.6);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	margin-top: 7px;
	padding-left: 5px;
	padding-right: 5px;

}

#page-alert{
	height:30px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('images/alertbg.png');
	line-height: 30px;
	color: #5e5e5e;
}