
H2{
	margin:0;
	padding:0;
	margin:15px 0 15px;
	margin-left: 15px;
}

.floatLefty {
	float: left;
	margin: 0 15px 0;
}

.floatRighty {
	float: right;
	margin:0;
	margin-right:45px;
}

/* Fonts, texts */
/* ------------ */

span.categoryText {
	font-size: 15px;
	/*font-size: 14px;*/
	color: #666666;
}

.subtitleText {
	font-size: 18px;
	/*font-size: 18px;*/
}

p.productText {
	font-size: 13px;
	/*font-size: 12px;*/
}

/* product content, wrapper, image  */
/* -------------------------------- */

.productWrapper {
	/*background-color: red;*/
	margin:0;
	padding:0;
	/*height:1000px;*/
	margin-left: 230px;
	padding-top:10px;
	/*font-family: "Open Sans",Verdana,sans-serif;*/
	font-family: "Open Sans",Verdana,sans-serif;
	color: #000000;
}

.productName {
	font-size: 24px;
	margin:0;
	padding:0;
	margin-left:25px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	color: #444444;
	/*background-color:green;*/
	border-bottom: 1px solid;
    border-color: #E4E4E4;
}

.productContent {
	display: inline-block;
	vertical-align: top;
	/* background-color:gray; */
	font-family: "Open Sans",Verdana,sans-serif;
	font-size: 13px;
	margin:0;
	padding:0;
	margin-left:25px;
	width: 350px;
	border: none;
}

.imageWrapper {
	display: inline-block;
	/* vertical-align: top; */
	width: 330px;
	max-width: 330px;
	height: 330px;
	max-height: 330px;
	padding:0;
	margin:0;
	padding-left: 2px;
	border-left: 1px solid;
    border-color: #E4E4E4;
	float: right;
}

.productImage {
	display: inline-block;
	/* vertical-align: top; */
	width: 330px;
	max-width: 330px;
	height: 330px;
	max-height: 330px;
	padding:0;
	margin:0;
	padding-left: 2px;
	float: right;
	/*padding-left: 5px;
	background-color:blue;*/
}

.productImageInfo {
	clear:both;
	float: right;
	text-align: center;
	width: 333px;
	display: block;
	margin:0;
	padding:0;
	margin-top: 5px;
	font-size: 16px;
	/* background-color: blue; */
}

.product-rating{
	height:20px;
	line-height:20px;
	color: #C9C9C9;
    display:inline-block;
    margin-bottom:5px;
    padding-rigth:5px;
}

span.productRatingPrice {
    display:inline-block;
	float: right;
	width: auto;
	margin-right: 15px;
	/* background-color: red; */
}

span.rating {
	display: inline;
	vertical-align: bottom;
	width: 500px;
	height:20px;
	color: #C9C9C9;
	margin-right: 10px;
	/* background-color: blue; */
}

span.price {
	font-size: 29px;
	width: 350px;
	/* background-color: purple; */
}

span.quantity {
	margin:0;
	padding:0;
	margin-right: 5px;
	font-size: 16px;
	
}

.addCartButton {
	display: inline-block;
	color: white;
	background-color: #585858;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	/*width:75px;*/
	margin-top: 2px;
	margin-right: 10px;
    
    font-size: 13;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.clear {
	clear:both;
	display: block;
}

/* Comments */
/* -------- trying to make it like comments @ http://cackle.me/welcome */

.commentsContent {
	margin:0;
	padding:0;
	height: auto;
	width: 75%;
	margin-left: 16px;
	padding-bottom: 100px;
	background-color: #EEEEEE;
	border-top-left-radius: 6px;
	margin-left: 200px;
	/* background-color: red; */
}

.commentsContentHeader {
	font-size: 22px;
	margin-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	/* background-color: red; */
}

.commentLayout {
	display: inline-block;
	vertical-align: top;
	margin-top: 1%;
	margin-left: 9%;
	padding-bottom: 20px;
	width: 574px;
	height: auto;
	background-color: #E2E2E2;
}

.commentText  {
	display: inline-block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 11px;
	font-size: 17px;
	height: auto;
	max-width: 480px;
	line-height: 25.0px;
	color: 
/* 	background-color: gray; */
}

span.commentTitle {
	display: block;
	height: 26px;
	font-size: 16px;
	color: #60B6FF;
/* 	background-color: red; */
	font-weight: bold;
}

.commentUserLogo {
	margin-left: 15px;
	margin-top: 15px;
	padding: 0;
	background-color: pink;
/* 	border-right: 1px solid;
    border-color: #969696; */
}

.postCommentLayout {
	background-image: url("images/commentBox.png");
}

/* Other.. */
/* ------- */

.footer {
    background-image:url('footerBg.png');
    margin: 0;
    padding: 0;
	width: 1000px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
}
