body {
    background-image:url('images/snow.png');
    margin: 0;
    padding: 0;
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 12;
}

.main {
    /*position: relative;*/
	background-color: white;
	width: 1000px;
	margin-left: auto ;
    margin-right: auto ;
	
	overflow:auto;
	
	-moz-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	box-shadow:0px 0px 40px rgba(0,0,0,0.2);
}

a {text-decoration:none;}

.body  a:link {color:#006EB8;}
.body  a:visited {color:#006EB8;}
.body  a:hover {color:#006EB8;}
.body  a:active {color:#000000;}


.body {
    /*display:inline;*/
	
	color: #919191;
    
	margin-top: 40px;
	margin-bottom: 25px;
	margin-left: 40px;
	margin-right:40px;
	
}

#header {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	
	font-size: 30;
	font-weight: bold;
	font-family: Oxygen;
}

#cart{
	display:inline-block;
	float:left;
	width:100%;
}

#sub-header{
	overflow: hidden;
	height: 25px;
	width:100%;
	border-top: 1px solid #d4d4d4;
	background-color: #ECECEC;
	color: #4d4d4d;
	font-weight: 700;
	font-size: 12px;
	line-height: 25px;
}

.item {
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	/*border-bottom: 1px solid #ECECEC;*/
}

.bottom {
	border-bottom: 1px solid #d4d4d4;
}

#total-text{
	width:13%;
	float:right;
	background-color: #ECECEC;
	text-align: right;
	font-weight:bold;	
	height: 30px;
	line-height: 30px;	
}

#total-price{
	width:26%;
	float:right;
	background-color: #ECECEC;
	text-align: center;
	font-weight:bold;
	height: 30px;
	line-height: 30px;	
}

.button {	
	color: white;
	background-color: #585858;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	text-align: center;
	float:right;
	
	font-size: 20;
	font-family: Oxygen;
	
	
	padding-top:3px;
	padding-bottom:3px;
	padding-left:7px;
	padding-right:7px;
	margin-top:45px;
	margin-bottom:45px;
}


