
.searchWrapper {
	width: auto;
	height: auto;
	margin:0;
	padding:0;
	margin-bottom: 50px;
	/* background-color: red; */
	/* background-color: #DADDE4; */
}

.searchInput {
	width: 60%;
	height: 60px;
	margin:0;
	padding:0;
	margin-left: 200px;
	/* background-color: blue; */
}

/* Search Filter Menu */
.searchFilters {
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-bottom: 15px;
	padding-bottom: 10px;
	margin-top: 5px;
	width: 20%;
	height: auto;
	border-right: 1px solid;
    border-color: #E4E4E4;
	float: left;
	/* background-color: gray; */
}

.filterTab {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.filterResult {
	margin-top: 10px;
	width: auto;
}

.inputBox {
	height: 15px;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-left: 5px;
}

.pFilter {
	margin:0;
	padding:0;
	margin-top: 10px;
	color: #f6931f;
	font-weight: bold;
}

/* Search Content */

.searchContent {
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	width: 74%;
	height: auto;
	float: left;
	background-color: #DADDE4;

	/* background-color: green; */
}
/*
.searchContent .searchResultHeader {
	width: 100%;
	height: auto;
	margin-top: 20px;
	border-bottom: 1px solid;
    border-color: #E4E4E4;
	margin-bottom: 6px;
	padding-bottom: 7px;
	background-color: white;
}

.searchContent .searchResultHeader .headerGen {
	width: 120px;
	background-color: gray;
	margin-left: 5%;
	padding:0;
}

.searchContent .searchResultHeader .headerDesc {
	width: 120px;
	background-color: gray;
	margin-left: 8%;
	padding:0;
}
*/
/* Search Product -- stuff taken from shop.css*/

.main {
    /*position: relative;*/
	background-color: white;
	width: 1000px;
	margin-left: auto ;
    margin-right: auto ;
	
	overflow:auto;
	
	-moz-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	box-shadow:0px 0px 40px rgba(0,0,0,0.2);
}

.product {
	display:inline-block;
	vertical-align: top;
		
	width: 165px;
	padding-left:7px;
	padding-right:7px;
}

.product-rightborder{
	border-right: 1px solid;
    border-color: #E4E4E4;
/* 	border-top: 1px solid;
    border-color: #E4E4E4; */
	margin-top: 15px;
}

.product-name {
	font-size:12px;
	height: 2.4em;
	
	overflow:hidden;
	text-overflow:ellipsis;
	
	
	color: #297CCF;
	font-weight:bold;
}

.product-desc{
	color: #919191;
	font-size: 12px;
	font-weight:normal;
}

.product-price {
	padding-top: 4px;
	padding-bottom: 4px;
	color: #919191;
	font-size: 17px;
	font-weight:bold;
}

.imgthumb {
	height:159px;
	width:auto;
}

.product-rating{
	height:20px;
	line-height:20px;
	color: #C9C9C9;
}

.product-stock {
	font-size: 10px;
	font-weight:normal;
	color: #A3A3A3;
	height: 20px;
	line-height:20px;
}

.cart-button {
	color: white;
	background-color: #585858;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 20px;
	line-height:20px;
	text-align: center;
	width:75px;
	float:right;
}

/* General */

.border80 {
	width: 85%;
	margin:0;
	padding:0;
	border-bottom: 1px solid;
    border-color: #E4E4E4;
	margin-left: auto;
	margin-right: auto;
}

.clear {
	clear:both;
	display: block;
}

/*
.searchResultHeader {

}*/

/*.searchResult {
	
}*/
