
.searchWrapper {
	width: 850px;
	height: auto;
	background-color: red;
	margin:0;
	padding:0;
	margin-bottom: 50px;
}

.searchInput {
	width: 60%;
	height: 60px;
	margin:0;
	padding:0;
	background-color: blue;
	margin-left: 200px;
}

/* Search Filter Menu */
.searchFilters {
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-bottom: 15px;
	padding-bottom: 10px;
	width: 180px;
	height: auto;
	background-color: gray;
	border-right: 1px solid;
    border-color: #E4E4E4;
}

.filterTab {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.filterResult {
	margin-top: 10px;
	width: auto;
}

.inputBox {
	height: 15px;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-left: 5px;
}

.pFilter {
	margin:0;
	padding:0;
	margin-top: 10px;
	color: #f6931f;
	font-weight: bold;
}

/* Search Content */

.searchContent {
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	width: 650px;
	height: auto;
	background-color: green;
}

.searchContent .searchResultHeader {
	width: 100%;
	height: auto;
	background-color: white;
	margin-top: 20px;
	border-bottom: 1px solid;
    border-color: #E4E4E4;
	margin-bottom: 6px;
	padding-bottom: 7px;
}

.searchContent .searchResultHeader .headerGen {
	width: 120px;
	background-color: gray;
	margin-left: 5%;
	padding:0;
}

.searchContent .searchResultHeader .headerDesc {
	width: 120px;
	background-color: gray;
	margin-left: 8%;
	padding:0;
}

/* General */

.border80 {
	width: 85%;
	margin:0;
	padding:0;
	border-bottom: 1px solid;
    border-color: #E4E4E4;
	margin-left: auto;
	margin-right: auto;
}
/*
.searchResultHeader {

}*/

/*.searchResult {
	
}*/
