@font-face {
	font-family: BebasNeue;
	src: url("fonts/BebasNeue.otf") format("opentype");
}

body {
    background-image:url('images/snow.png');
    margin: 0;
    padding: 0;
    font-family: "Open Sans",Verdana,sans-serif;
    font-size: 12;
}

.main {
    /*position: relative;*/
	background-color: white;
	width: 1000px;
	margin-left: auto ;
    margin-right: auto ;
	
	overflow:auto;
	
	-moz-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 0px 40px rgba(0,0,0,0.2);
	box-shadow:0px 0px 40px rgba(0,0,0,0.2);
}

.sidemenu {
	/*display:inline;*/
    width:230px;
    top: 15px;
	
	float:left;
	
	/* css dradient */ 
    background-image: -ms-linear-gradient(left, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(left, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -webkit-gradient(linear, left, right, color-stop(0, #FFFFFF), color-stop(1, #F2F2F2));
    background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #F2F2F2 100%);
    background-image: linear-gradient(to right, #FFFFFF 0%, #F2F2F2 100%);
}

a {text-decoration:none;}

.sidemenu a:link {color:#919191;}
.sidemenu a:visited {color:#919191;}
.sidemenu a:hover {color:#006EB8}
.sidemenu a:active {color:#919191;}

.menuitem {
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    margin-left: 40px;    
    
    /* css dradient */ 
    /*background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #F2F2F2));
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #F2F2F2 100%);
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #F2F2F2 100%);*/
    
    /* border */
    border-right: 1px solid;
    border-color: #E4E4E4;
    
}

.selmenuitem {
    color: #000000;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    margin-left: 40px;
    background-color: white;
    
    /* border */

    border-left:1px solid;
    border-color: #E4E4E4;
}

.menuhover {
	background-color:  #338BC6;
	/*background-image: -ms-linear-gradient(top left, #C2E0FF 0%, #3399FF 100%);
    background-image: -moz-linear-gradient(top left, #C2E0FF 0%, #3399FF 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #C2E0FF), color-stop(1, #3399FF));
    background-image: -webkit-linear-gradient(top left, #C2E0FF 0%, #3399FF 100%);
    background-image: linear-gradient(to bottom right, #C2E0FF 0%, #3399FF 100%);*/
}

.menuitemtopborder{
	border-top:1px solid;
	border-color: #E4E4E4;
}

.menuitembottom{
    /* border */
    border-bottom: 1px solid;
    border-color: #E4E4E4;
    
}

.body {
    /*display:inline;*/
	float:right;
	width:750px;
	
	color: #919191;
    
	margin-top: 20px;
	margin-bottom: 25px;
	/*margin-left: 20px;
    top: 0px;
	right: 0px;
	/*bottom: 10px;*/
}

.product {
	display:inline-block;
	vertical-align: top;
		
	width: 165px;
	padding-left:7px;
	padding-right:7px;
}

.product-rightborder{
	border-right: 1px solid;
    border-color: #E4E4E4;
}

.product-name {
	font-size:12px;
	height: 2.4em;
	
	overflow:hidden;
	text-overflow:ellipsis;
	
	
	color: #297CCF;
	font-weight:bold;
}

.product-desc{
	color: #919191;
	font-size: 12px;
	font-weight:normal;
}

.product-price {
	padding-top: 4px;
	padding-bottom: 4px;
	color: #919191;
	font-size: 17px;
	font-weight:bold;
}

.imgthumb {
	height:159px;
	width:auto;
}

.product-rating{
	height:20px;
	line-height:20px;
	color: #C9C9C9;
}

.product-stock {
	font-size: 10px;
	font-weight:normal;
	color: #A3A3A3;
	height: 20px;
	line-height:20px;
}

.cart-button {
	color: white;
	background-color: #585858;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 20px;
	line-height:20px;
	text-align: center;
	width:75px;
	float:right;
}

.sortDiv {
	width: 200px;
	max-width: 200px;
	margin-left: 19px;
}
